[submodule "webstlink"]
	path = webstlink
	url = https://github.com/devanlai/webstlink/
[submodule "webdfu"]
	path = webdfu
	url = https://github.com/devanlai/webdfu
[submodule "webdap"]
	path = webdap
	url = https://github.com/ARMmbed/dapjs
[submodule "webserial"]
	path = webserial
	url = https://github.com/yanxke/stm32webflash
